<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Gramshare</title>
</head>
<body>
    <h1>Welcome to Gramshare!!!</h1>
    <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
    {% if messages %}
        
    <ul>
    {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    </div>
    <div class="login-box">
        <p><button type="button" class="btn btn-success btn-md" onclick="window.location.href='/login'">Microsoft Login</button></p>
		<!--<img src="/static/images/microsoft_graph.png" alt="Microsoft Graph" width=400 height=195/>-->
    </div>
</body>
</html>